{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles_form.css' %}" />
    <title>TF-IDF Calculator</title>
  </head>
  <body>
    <h1>Калькулятор TF-IDF</h1>
    <form action={% url 'table_words' %} method="post" enctype="multipart/form-data">{% csrf_token %}
      <label
        >Upload your file:
        <input type="file" name="my_file" value="{{ current_name }}" />
      </label>
      <button type="submit">OK</button>
    </form>
  </body>
</html>
